{% extends 'base.html' %}

{% block content %}

{% load static %}
{% if results %}
<table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Order ID</th>
        <th>Transaction Status</th>
        <th>Payment Type</th>
      </tr>
    </thead>
    {% for stud in results %}
        <tbody>
        <tr>
            <td>{{ stud.0 }}</td>
            <td>{{ stud.1 }}</td>
            <td>{{ stud.2 }}</td>
            <td>{{ stud.3 }}</td>
        </tr>
        
        </tbody>
    {% endfor %}

  </table>

{% endif %}
{% endblock %}